/* Variables */
:root {
    --primary: #1A659E;
    --secondary: #A31621;
    --tertiary: #A4508B;
    --accent: #912F56;
    --text: #071013;
    --text-mute: #555;
    --light-grey: #C9C5CB;
    --banner: black;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation */
.nav {
    /*width: 100%;*/
    background-color: var(--banner);
    overflow: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav a {
    float: left;
    display: block;
    color: var(--primary);
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 22px;
}

.nav a:hover {
    background-color: var(--primary);
    color: white;
}

/* Add an active class to highlight the current page */
.nav a.active {
    background-color: var(--primary);
    color: white;
}

.nav .hamburger {
    display: none;
}

/* Blue home icon appear by default
and white home icon appear on hover*/
.home:hover .default-icon,
.home .hover-icon {
    display: none;
}

.home:hover .hover-icon {
    display: inline;
}

/* Buttons with 2 different icons for default and hover*/
.btn:hover .default-icon,
.btn .hover-icon {
    display: none;
}

.btn:hover .hover-icon {
    display: inline;
}

.icon {
    /*width: 17px;*/
    width: 21px;
}

/* Content */
.content {
    margin: 1% 5%;
    padding-bottom: 100px;
}

.container {
    min-height: 100vh;
    position: relative;
    padding-bottom: 1%;
}

a {
    color: var(--secondary);
}

/* .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 900px;
} */

.center {
    text-align: center;
}

#homepage-img {
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -5;
    position: absolute;
    /* overflow-clip-margin: 5px; */
}
#homepage-mobile-img {
    display: none;
    height: auto;
    left:0;
    top:0;
    z-index: -5;
    width: 100%;
    position: absolute;
}

#resume {
    margin: auto;
    border: none;
    display: block;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* padding-top: 1%; */
    padding-bottom: 1.5%;
    height: 60px;
    vertical-align: middle;
    background-color: var(--banner);
    color: var(--light-grey);
}

footer a {
    /*background-color: var(--banner);*/
    color: var(--light-grey);
}

footer a:hover {
    color: var(--secondary);
}

footer li {
    display: inline;
    text-decoration: none;
    padding-right: 2%;
}

/* When screen is between 480 and 600 px */
@media screen and (min-width: 480px) and (max-width: 600px) {
    html {
        overflow-x: hidden;
    }
    
    /* Hide all links but the home menu and show hamburger menu */
    .nav a:not(:first-child) { display: none; }
    .nav a.hamburger {
        float: right;
        display: block;
    }
    /* The responsive class is added via JS when user clicks on the hamburher menu and display links vertically */
    .nav.responsive { position: relative; }
    .nav.responsive a.hamburger {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #homepage-img {
        height: 100%;
        width: auto;
        display: none;
    }
    #homepage-mobile-img {
        display: inline;
    }
}

/* Mobile Device with screen sizes less than 480px */
@media screen and (max-width: 480px) {
    html {
        overflow-x: hidden;
    }
    
    /* When screen is between 480 and 600 px, hide all links bu the home menu and show hamburger menu */
    .nav a:not(:first-child) { display: none; }
    .nav a.hamburger {
        float: right;
        display: block;
    }
    /* The responsive class is added via JS when user clicks on the hamburher menu and display links vertically */
    .nav.responsive { position: relative; }
    .nav.responsive a.hamburger {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #homepage-img {
        height: 100%;
        width: auto;
        display: none;
    }
    #homepage-mobile-img {
        display: inline;
    }
}